motion-scroll::-webkit-scrollbar {
  display: none;
}

motion-scroll {
  scrollbar-width: none; /* 对 Firefox */
  -ms-overflow-style: none; /* 对 IE 和 Edge 旧版 */
  -webkit-overflow-scrolling: touch; /* 为移动设备提供惯性滚动 */
}
