.data-\[pressed\]\:bg-accent[data-pressed] {
  background-color: hsl(var(--accent));
}

.data-\[hover\]\:bg-accent[data-hover] {
  background-color: hsl(var(--accent));
}

.rounded-sm {
  border-radius: 4px;
}
