.data-\[checked\]\:bg-primary[data-checked] {
    background-color: hsl(var(--primary));
}

.bg-input {
    background-color: hsl(var(--input));
}

.bg-background {
    background-color: hsl(var(--background));
}