---
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'href'> {
  href: string | URL;
  variant?: 'primary' | 'secondary' | 'minimal';
}

const { class: className, variant = 'primary', ...attrs } = Astro.props;
---

<a
  data-slot="button"
  class:list={[
    'not-content',
    variant === 'primary'
      ? `bg-primary text-primary-foreground shadow-xs hover:bg-primary/90`
      : `hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50`,
    className,
    `inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5`,
  ]}
  {...attrs}
>
  <slot />
</a>
