@import 'tailwindcss';

@theme {
  --radius: 0.625rem;
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0 0);
  --color-primary: oklch(20.5% 0 0);
  --color-primary-foreground: oklch(98.5% 0 0);
  --color-secondary: oklch(97% 0 0);
  --color-secondary-foreground: oklch(20.5% 0 0);
  --color-muted: oklch(97% 0 0);
  --color-muted-foreground: oklch(55.6% 0 0);
  --color-accent: oklch(97% 0 0);
  --color-accent-foreground: oklch(20.5% 0 0);
  --color-destructive: oklch(57.7% 0.245 27.325);
  --color-border: oklch(92.2% 0 0);
  --color-input: oklch(92.2% 0 0);
  --color-ring: oklch(70.8% 0 0);
  --color-chart-1: var(--color-blue-300);
  --color-chart-2: var(--color-blue-500);
  --color-chart-3: var(--color-blue-600);
  --color-chart-4: var(--color-blue-700);
  --color-chart-5: var(--color-blue-800);
  --color-sidebar: oklch(98.5% 0 0);
  --color-sidebar-foreground: oklch(14.5% 0 0);
  --color-sidebar-primary: oklch(20.5% 0 0);
  --color-sidebar-primary-foreground: oklch(98.5% 0 0);
  --color-sidebar-accent: oklch(97% 0 0);
  --color-sidebar-accent-foreground: oklch(20.5% 0 0);
  --color-sidebar-border: oklch(92.2% 0 0);
  --color-sidebar-ring: oklch(70.8% 0 0);
  --color-surface: oklch(98% 0 0);
  --color-surface-foreground: var(--foreground);
  --color-code: var(--surface);
  --color-code-foreground: var(--surface-foreground);
  --color-code-highlight: oklch(96% 0 0);
  --color-code-number: oklch(56% 0 0);
  --color-selection: oklch(14.5% 0 0);
  --color-selection-foreground: oklch(100% 0 0);
}

@theme (prefers-color-scheme: dark) {
  --color-background: oklch(14.5% 0 0);
  --color-foreground: oklch(98.5% 0 0);
  --color-card: oklch(20.5% 0 0);
  --color-card-foreground: oklch(98.5% 0 0);
  --color-popover: oklch(26.9% 0 0);
  --color-popover-foreground: oklch(98.5% 0 0);
  --color-primary: oklch(92.2% 0 0);
  --color-primary-foreground: oklch(20.5% 0 0);
  --color-secondary: oklch(26.9% 0 0);
  --color-secondary-foreground: oklch(98.5% 0 0);
  --color-muted: oklch(26.9% 0 0);
  --color-muted-foreground: oklch(70.8% 0 0);
  --color-accent: oklch(37.1% 0 0);
  --color-accent-foreground: oklch(98.5% 0 0);
  --color-destructive: oklch(70.4% 0.191 22.216);
  --color-border: oklch(100% 0 0/0.1);
  --color-input: oklch(100% 0 0/0.15);
  --color-ring: oklch(55.6% 0 0);
  --color-chart-1: var(--color-blue-300);
  --color-chart-2: var(--color-blue-500);
  --color-chart-3: var(--color-blue-600);
  --color-chart-4: var(--color-blue-700);
  --color-chart-5: var(--color-blue-800);
  --color-sidebar: oklch(20.5% 0 0);
  --color-sidebar-foreground: oklch(98.5% 0 0);
  --color-sidebar-primary: oklch(48.8% 0.243 264.376);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --color-sidebar-accent: oklch(26.9% 0 0);
  --color-sidebar-accent-foreground: oklch(98.5% 0 0);
  --color-sidebar-border: oklch(100% 0 0/0.1);
  --color-sidebar-ring: oklch(43.9% 0 0);
  --color-surface: oklch(20% 0 0);
  --color-surface-foreground: oklch(70.8% 0 0);
  --color-code: var(--color-surface);
  --color-code-foreground: var(--color-surface-foreground);
  --color-code-highlight: oklch(27% 0 0);
  --color-code-number: oklch(72% 0 0);
  --color-selection: oklch(92.2% 0 0);
  --color-selection-foreground: oklch(20.5% 0 0);
}

@font-face {
  font-family: 'GeistSans';
  src: url('./assets/font/GeistVF.woff2') format('woff2-variations');
}

@layer base {
  :root {
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family:
    var(--font-geist-sans),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  unicode-bidi: isolate;
  font-feature-settings: normal;
  font-synthesis-weight: none;
  font-variation-settings: normal;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
