---
import config from 'virtual:starlight/user-config';

import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SiteTitle from './SiteTitle.astro';
import SocialIcons from './SocialIcons.astro';
import ThemeToggle from './ThemeToggle.astro';

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
  config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="container-wrapper 3xl:fixed:px-0 px-6">
  <div
    class="3xl:fixed:container flex h-(--header-height) items-center gap-2 **:data-[slot=separator]:!h-4"
  >
    <div class="title-wrapper sl-flex">
      <SiteTitle />
    </div>
    <a
      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5"
      data-slot="button"
      href="/docs/introduction"
    >
      Docs
    </a>
    <a
      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5"
      data-slot="button"
      href="/docs/prototype"
    >
      Prototype
    </a>

    <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
      <div class="sl-flex print:hidden">
        {shouldRenderSearch && <Search />}
      </div>
      <SocialIcons />
      <div
        data-orientation="vertical"
        role="none"
        data-slot="separator"
        class="bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px"
      >
      </div>
      <ThemeToggle />
      <div
        data-orientation="vertical"
        role="none"
        data-slot="separator"
        class="bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px"
      >
      </div>
      <LanguageSelect />
    </div>
  </div>
</div>

<style></style>
