.focus\:text-accent-foreground:focus {
  color: hsl(var(--accent-foreground));
}

.focus\:bg-accent:focus {
  background-color: hsl(var(--accent));
}

.bg-popover {
  background-color: hsl(var(--popover));
}

.popover-animated-in {
  opacity: 0;
  transform: translateY(-0.5rem) scale(0.95);
  animation: popoverAnimatedIn 0.08s forwards ease-in;
}
